@page
@model IndexModel
@{
    ViewData["Title"] = "Hem";
}

<div class="intro text-center mb-5">
    <h1 class="text pb-3">Välkommen!</h1>

    <blockquote>
        "Kod är som konst – det är vackert när det fungerar, men ibland ser det mest ut som en stor röra. Och precis som
        konst, kräver det både tålamod och passion för att göra det riktigt bra. Det handlar inte bara om att skriva
        kod, utan om att måla en symfoni av nollor och ettor som får maskiner att dansa till vår vilja. Ibland blir det
        magiskt, och andra gånger slår vi huvudet i tangentbordet och undrar varför allt ser ut som en oljemålning av
        ett kaos."
    </blockquote>
    <br>

    <blockquote>
        "Varje programmerare har två liv: det första slutar med att de lär sig hur man ska skriva kod, och det andra
        slutar med att de lär sig hur man ska förstå varför den kod de skrivit faktiskt fungerar."
    </blockquote>

    <button id="button-start" onclick="showStartMessage()">Klicka här!</button>
</div>
